@font-face {
    font-family: 'Electrolize';
    src: url('../fonts/Electrolize-Regular.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-SemiBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_24pt-Regular.ttf');
    font-weight: 300;
}