

.footer {
    width: 100%;
    background-color: var(--block-color);
    padding: 10px 40px;
}

.subInfo {
    flex-direction: column;
}

@media (max-width: 360px) {
    .footer {
        padding: 5px;
    }
}