

.footer {
    width: 100%;
    background-color: var(--block-color);
    padding: 10px 40px;
}

.footer__subInfo {
    flex-direction: column;
}
.footer__menu {
    display: none;
}

@media (max-width: 700px) {
    .footer {
        padding: 5px;
    }
    .footer__menu {
        display: block;
    }
}