.header  {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 40px;
}

.logotype__img {
    width: 60px;
    height: inherit;
    object-fit: contain;
}

.nav__img {
    width: 20px;
    height: inherit;
    object-fit: contain;
}

.new__star {
    width: 20px;
    height: 20px;
}