.header  {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 40px;
}

.header__img {
    width: 60px;
    height: inherit;
    object-fit: contain;
}

.nav__container {
    padding: 10px;
}

.nav__img {
    width: 20px;
    height: inherit;
    object-fit: contain;
}

@media (max-width: 700px) {
    .header {
        padding: 5px;
    }

    .nav {
        display: none;
    }
}