
.login, .register {
  width: 100vw;
  height: 30vw;
}

.login__from, .register__from {
  width: 250px;
}

.login__inp, .register__inp {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--accent-hover);
}

.login__btn, .register__btn {
  width: 100%;
}

.register__check {
  width: 100%;
  color: var(--text-color);
}