
.login, .register, .panel {
  width: 100vw;
  height: 30vw;
    flex: 1;
}

.login__from, .register__from, .panel__form {
  width: 250px;
}

.login__inp, .register__inp, .panel__inp {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--border-color);
}

.login__btn, .register__btn, .panel__btn {
  width: 100%;
}

.register__check {
  width: 100%;
  color: var(--text-color);
}