@import url('./header.css');
@import url('./footer.css');
@import url('./advantages.css');
@import url('./cards.css');
@import url('./search.css');
@import url('./new.css');
@import url('./fonts.css');
@import url('./partners.css');
@import url('./slider.css');

:root {
    --title-color:  black;
    --text-color: rgb(47, 47, 47);
    --block-color: gray;
    --bg: white;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: var(--title-color);
}

h1 {
    font-family: 'Orbitron';
    font-weight: 600;
}

h2 {
    font-family: 'Orbitron';
    font-weight: 400;
}

h3 {
    font-family: 'Inter';
    font-weight: 700;
}

h4 {
    font-family: 'Inter';
    font-weight: 400;
}

button, a, p, span {
    color: var(--text-color);
    font-family: 'Inter';
    font-weight: 300;
}

.container {
    padding: 30px 20px;
    width: 1600px;
    margin: 0 auto;
}

.block {
    background-color: var(--block-color);
    padding: 10px 10px;
    border: 2px solid var(--text-color);
}

.df {
    display: flex;
}

.fdc {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.brBig {
    border-radius: 20px;
}

.brSmall {
    border-radius: 10px;
}

.gapBig {
    gap: 20px;
}

.gabSmall {
    gap: 20px;
}






