@import url('./header.css');
@import url('./footer.css');
@import url('./advantages.css');
@import url('./cards.css');
@import url('./search.css');
@import url('./new.css');
@import url('./fonts.css');
@import url('./partners.css');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;

}

