@import url('./header.css');
@import url('./footer.css');
@import url('./advantages.css');
@import url('./cards.css');
@import url('./search.css');
@import url('./new.css');
@import url('./fonts.css');
@import url('./partners.css');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;

}

h1 {
    font-family: 'Orbitron';
    font-weight: 600;
}

h2 {
    font-family: 'Orbitron';
    font-weight: 400;
}

h3 {
    font-family: 'Inter';
    font-weight: 700;
}

h4 {
    font-family: 'Inter';
    font-weight: 400;
}

button, a, p, span {
    font-family: 'Inter';
    font-weight: 300;
}




