@import url('./header.css');
@import url('./footer.css');
@import url('./advantages.css');
@import url('./cards.css');
@import url('./search.css');
@import url('./new.css');
@import url('./fonts.css');
@import url('./partners.css');
@import url('./slider.css');

:root {
    --bg: #0f0f1b;
    --block-color: #1a1a2e;
    --text-color: #e6e6ff;
    --text-secondary: #a0a0c0;
    --title-color: #ffffff;
    --border-color: #2d2d44;
    --accent: #00f0ff;
    --accent-hover: #00c2cc;
}

body {
    background-color: var(--bg);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    background: none;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: var(--title-color);
    text-align: center;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Electrolize','Orbitron', sans-serif;
}

h3,
button,
a,
p,
span {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 400;
    font-size: 28px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

button, a, p, span, input, input::placeholder {
    color: var(--text-color);
    font-weight: 300;
    font-size: 18px;
}

span, input, input::placeholder {
    color: var(--text-secondary);
}

button {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover, button:active, button:focus {
    background-color: var(--accent-hover);
    transform: scale(1.1);
}

.container {
    padding: 30px 20px;
    width: 1000px;
    margin: 0 auto;
}

.block {
    background-color: var(--block-color);
    padding: 10px 10px;
    border: 3px solid var(--border-color);
}

.df {
    display: flex;
}

.fdc {
    flex-direction: column;
}

.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.fww {
    flex-wrap: wrap;
}

.brBig {
    border-radius: 20px;
}

.brSmall {
    border-radius: 10px;
}

.gapBig {
    gap: 20px;
}

.gapSmall {
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    color: var(--bg);
    background-color: var(--accent);
}

@media (max-width: 1000px) {
    .container {
        width: 700px;

    }
}

@media (max-width: 700px) {
    .container {
        width: 350px;
        padding: 15px 10px;

    }

}

