.new__container, .catalog__container {
    width: 100%;
}

.new__card, .catalog__card {
    width: 300px;
    position: relative;
}

.new__subtitle, .catalog__subtitle {
    position: absolute;
    top: 280px;
}
.new__wrapper, .catalog__wrapper {
    width: 100%;
    height: 300px;
    position: relative;
}

.new__img, .catalog__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new__wrapper::after, .catalog__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            rgba(26, 26, 46, 1),
            rgba(222, 222, 222, 0),
            rgba(26, 26, 46, 1)
    );
}

.new__rating, .catalog__rating {
    background-color: var(--border-color);
    position: absolute;
    top: -10px;
    padding: 5px 7px;
    border-radius: 10px;
}

.new__star, .catalog__star {
    opacity: 1;
    width: 20px;
    height: 20px;
}