.partners__container {
    width: 100%;
    background-color: var(--text-secondary);
}

.partners__card {
    width: 200px;
}

.partners__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}