.slider {
    position: relative;
}

.slider__slide {
    display: none;
    flex-direction: column;
    padding: 20px;
    width: 900px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slider__slide--active {
    display: flex;
    background-image: url('../media/game_img/slime_game.jpg');
    border: 3px solid var(--border-color);
}

.slider__desc {
    position: absolute;
    bottom: 30px;
    width: 300px;
}

.slider__btn {
    width: 20px;
    height: 20px;
    background-color: var(--accent-hover);
    opacity: 0.5;
}

.slider__btn--active, .slider__btn--main {
    background-color: var(--accent);
    opacity: 1;
}

.slider__btn--main {
    width: 170px;
    height: inherit;
}

.slider__control {
    bottom: 10px;
    position: absolute;

}

@media (max-width: 1000px) {
    .slider__slide {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 700px) {
    .slider__slide {
        width: 300px;
    }
    .slider__desc {
        width: 200px;
    }
}

