

.slider__slide {
    display: none;
    padding: 20px;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.slider__slide--active {
    display: flex;
    flex-direction: column;
    background-image: url('../media/game_img/withere3_game.jpg');
}

.slider__desc {
    width: 400px;
}

.slider__btn {
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    opacity: 0.5;
}

.slider__btn--active {
    opacity: 1;
}

.slider__btn--main {
    width: 170px;
    height: inherit;
}

/* @media (max-width: 768px) { */
@media (max-width: 1000px) {
    .slider__slide {
        width: 600px;
        height: 400px;

    }

    .slider__desc {
        width: 300px;
        height: 200px;
    }
}


/* @media (max-width: 360px) { */
@media (max-width: 700px) {
    .slider__slide {
        width: 300px;
    }
    
    .slider__desc {
        width: 200px;
    }
}


